.container_{
    background-color: #F8F8FF;
    width: 80%;
    margin-top: 10%;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card{
    height: 100%;
}
